div.container{
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
div.white{
    width: 100px;
    height: 100px;
    background-color:beige;
}
div.black{
    width: 100px;
    height: 100px;
    background-color: black;
  
}