*{
    box-sizing: border-box;
}
div.main{
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: aqua;
}
div.card{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10%;
    padding: 2%;
    position: relative;
    color:azure;
    background-color: cornflowerblue;
}
div.card > h2{
    position: absolute;
    right :37%;
    bottom: 77%;
}
div.card > ul >li{
   
    
    list-style-type:none;
    
}
div.button{
    display:flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10%;
    padding: 5%;
    font-size: 0.9rem;
    max-width: 90px;
    height: 30px;
    background-color: brown;
    align-self: center;
    
}
@media (max-width:600px){
 
    div.main{
       flex-direction: column;
       height: 100vh;
       width: 100vw;
       padding: 30%;

    }

}