*{
    padding: 0px;
    margin: 0px;
}
div.header{
    margin: 0px;
    padding: 10px;
    background-color: yellow;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;
    
}
li{
 
     margin: 5px;   
    font-weight: bold;
    color: brown;
    
}
li:hover{
    color: blue;
    cursor: pointer;
}